.container {
    text-shadow: 2px 2px 10px black;
    padding: 20px calc(0.6rem + 3vw);
    margin: 0;
    min-height: 100vh;
    background-image: url("/static/img/cactus2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    overflow: scroll;
    font-family: 'Muli';
    color: white;
    text-align: center
}

body {
    margin: 0;
}


.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.jadwal-card{
    color: rgb(59, 59, 59);
    padding: 10px 20px;
    border: 1px solid #56887c;
    margin: 20px 10px;
    background-image: linear-gradient(#56887c 0%, #a6c6c1 90%);
    box-shadow: 0 5px 10px rgb(66, 66, 66);
    color: white;
}

.jadwal-card > h2{
    margin: 0.5em;
}

.jadwal-card h4, .jadwal-card p {
    margin: 0
}

.button {
    border: 4px solid #56887c;
    font-family: 'Muli';
    font-weight: bold;
    font-size: 1em;
    color: white;
    cursor: pointer;
    background-color: #56887c;
    box-shadow: 0 5px 10px rgb(66, 66, 66);
    margin: 4px;
    text-decoration: none;
}

.delete{
    background-color: rgb(223, 80, 80);
    border: 4px solid #df5050;    
}

.form-cont {
    padding: 1em;
    width: 70%;
    background-image: url("/static/img/cactus2.png");
    margin: 20px;
    border-radius: 20px;
    min-height: 300px;

}

.form{
    display: flex;
    flex-direction: column;
}

.form-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/static/img/cactus2.png");
    font-family: 'Muli';
    color: white;
}

.jadwalfields{
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid #56887c;
    box-shadow: 0 5px 10px rgb(66, 66, 66);
    padding-left: 10px;
}

.datefield{
    margin-right: 5px;
}

.form p{
    margin: 0;
}

.full{
    width: 100%;
}

h2 > span{
    color: #b43434;
}
