{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="{% static 'css/Homepage.css' %}">
    <title>Create Jadwal</title>
</head>
<body class="form-body">
    <div class="form-cont">
        <h2>Buat Jadwal</h2>
        <form method="POST" class="form">
            {% csrf_token %}
            <p>Nama Kegiatan</p>
            {{ form.nama_kegiatan }}
            <p>Tempat</p>
            {{ form.tempat }}
            <p>Kategori</p>
            {{ form.kategori }}
            <p>Waktu & Tanggal</p>
            <p>
                {{ form.tanggal }}
                {{ form.waktu }}
            </p>
            <div class="full">
                <a href="{% url 'Story_5_app:homepage' %}"><button type="button" class="button delete">Back</button></a>
                <input type="submit" class="button" value="Submit" />
            </div>
        </form>
    </div>
</body>
</html>
