{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="{% static 'css/Homepage.css' %}">
    <title>Homepage</title>
</head>
<body>
    <div class="container">
        <h1>Jadwal!!!!!!!</h1>
        
        <a href="createJadwal">
            <button class="button">Create Jadwal</button>
        </a>
            
        {% for j in jadwal %}
            <div class="jadwal-card">
                <h2><span>{{ j.kategori }}</span> - {{ j.nama_kegiatan }}</h2>
                <div class="flex">
                    <div>
                        <h4>di {{ j.tempat }}</h4>
                        <p>{{ j.tanggal }} - {{ j.waktu }}</p>
                    </div>
                    <form action="{% url 'Story_5_app:delete' %}" method="POST" >
                        {% csrf_token %}
                        <input type="hidden" value="{{ j.id }}" name="id" />
                        <input class="button delete" type="submit" value="Delete" />
                    </form>
                </div>
            </div>
        {% endfor %}

    </div>
</body>
</html>
